@model IEnumerable<MVC_Example.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-hover">
    
    <thead>
         <tr>
            <th>Customer</th>
           <th>Discount rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
               <td>@customer.MembershipType.DiscountRate</td>
            </tr>
        }
    </tbody>
    </table>
